@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ccc;
}

.header-l {
    width: 100%;
    height: 80px;
    color: rgb(235, 235, 212);
    background-color: #000;
    margin: 0px;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 700;
    font-weight: 900;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
    box-sizing: border-box;
}

p{
    color: #000;
    font-size: 3vmin;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 5vmin;
    font-weight: 1000;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

a:hover {
    text-decoration: underline;
}
ul li {list-style: none;
    
}
    
.maissp-link{
    font-size: 15px;
    font-weight: 700;
    padding: 0 20px;
    margin-left: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 70px;
    background-color: rgb(87, 84, 84);
}

input, textarea{
    width: 80%; 
    height: 50px;
    padding-left: 10px;
}

div.campos-form{
    display: flex;
    flex-direction: column;
}